<div class="side_bar_header">
 

 <div class="side_bar_header1">
    <%= link_to current_user.name, edit_user_path(current_user) %>
 </div>

 <div class="side_bar_header2">
<a href="">チャットを作成する</a>
</div>
 </div>

  <div class="side_bar_bodies">

  <div class="side_bar_body">
  <div class="side_bar_body_room">
  <a href="#">techroom1</a>
  </div>
  </div>

  <div class="side_bar_body">
  <div class="side_bar_body_room">
  <a href="#">techroom1</a>
  </div>
  </div>

 </div>